input:not(:placeholder-shown) ~ button{
    color: rgb(60, 60, 60) !important;
}

// #swapperSearch {
//   form:first-child {
//     background-color: red;
//   }
// }

[data-tippy-root]{
  width: 100%;
}